@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alice", sans-serif;
  font-size: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.container::before {
  content: "";
  background-image: url("../../assets/image.png");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  filter: blur(10px);
  z-index: -2;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 66, 33, 0.7);
  z-index: -1;
}

.form-section {
  color: #291b1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60rem;
  position: relative;
  background-color: #f0e8c2;
  margin-top: 4rem;
  gap: 1.5rem;
  padding: 1rem 1rem 2rem;
  border-radius: 1.5rem;
  z-index: 0;
}

.form-section img {
  width: 100%;
  border-radius: 1.3rem;
}

.form-header h1 {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 140%;
  }
  
.form-header h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 140%;
  }


  .form-header h3 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  line-height: 140%;
}

.form-section p,
.form-section ul {
  font-size: 1.25rem;
  margin-bottom: 1.2rem;
  line-height: 1.6rem;
  text-align: justify;
}

.form-section ul {
  padding-left: 1.1rem;
}

footer {
  font-weight: bold;
  margin: 2rem;
  padding: 0.5rem;
  color: #f0e8c2;
}

footer img {
  position: relative;
  top: 0.2rem;
}

/* Celulares */
@media (max-width: 575px) {
  .form-section {
    width: 90%;
  }
  .form-section p,
  .form-section ul {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 1200px) {
  .form-section {
    width: 80%;
  }
  .form-section p,
  .form-section ul {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
  }
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}
